  .headline-container {
    height: 186px;
    top: 160px; /* Adjust positioning as needed */
    gap: 0px;
    opacity: 1; /* Change opacity to visible */
    background-color: #F97B22; /* Cor de fundo laranja */
  }
  
  .headline-h1 {
    color: #FFFFFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    padding-top: 25px;
  }
  
  .headline-p {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
  }
  
  .subtext {
    display: block;
    width: 100%;
  }
  
  .banner-container {
    width: 467px;
    height: 513px;
    padding-top: 200px;
    display: flex;
    justify-content: center;
  }

  .banner-card{
    display: flex;
    justify-content: center;
  }
  
  .banner-imagem {
    width: 467px;
    height: 270px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
  }

.banner-titulo {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
}

.banner-paragrafo {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justified;
}

.banner-data {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #95A1BB;
  display: flex; /* Usando flexbox para alinhar itens */
  align-items: center; /* Centraliza verticalmente */
  margin-top: 10px;
  width: 250px;
}

.banner-data img {
  margin-right: 10px; /* Adiciona espaço entre o ícone e o texto */
}

.banner-bottom {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  color: black;
  display: flex;
  align-items: flex-end; 
  margin-top: 10px;
}
