.headline-container {
  height: 186px;
  top: 160px; /* Ajuste conforme necessário */
  gap: 0px;
  opacity: 1; /* Altere a opacidade para visível */
  background-color: #F97B22; /* Cor de fundo laranja */
}

.headline-h1 {
  color: #FFFFFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  padding-top: 25px;
}

.headline-p {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
}

.subtext {
  display: block;
  width: 100%;
}

#divBusca {
  padding-top: 10px;
  position: relative;
  right: 0;
}

#txtBusca {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(143, 143, 143, 1);
  height:31px;
  border-radius: 90px;
  padding-left: 10px;
}

#btnBusca {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 5px;
}

.banner-container {
  display: flex; /* Ativamos o Flexbox para centralizar */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente (opcional) */
  flex-wrap: wrap; /* Permite quebrar linhas se necessário */
  gap: 30px; /* Espaçamento entre os cards */
}

.banner-card {
  display: flex; 
  flex-direction: column;
  width: 467px; 
  padding: 100px;
}

.banner-imagem {
  width: 467px;
  height: 270px;
  border-radius: 20px;
  object-fit: cover;
}

.banner-titulo {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}

.banner-paragrafo {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
}

.banner-data {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #95A1BB;
  display: flex;
  align-items: center;
}

.banner-data img {
  margin-right: 10px;
}

.banner-bottom {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  color: black;
}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 322px;
  padding: 12px 16px;
  border-radius: 90px;
  border: 1px solid rgba(120, 120, 120, 1);
  background: transparent;
  color: rgba(120, 120, 120, 1);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 5
}