/************************CONTATO***********************************/
h3
{
    font-family: Montserrat;
    color: #262626;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
   
}

.formulario
{
    width: 642px;
    height: 350px;
    top: 160px;
    left: 647px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
    margin-left: 65px;
}

.lorem
{
    width: 410px;
    height: 72px;
    top: 215px;
    left: 97px;
    opacity: 0px;  

}

p.lorem
{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #95A1BB;
    text-align: left;
      

}

/*********************Forms**********************/

.assunto
{
   width: 460px;
   height: 46px;
   top: 312px;
   left: 97px;
   border: 1px solid #CAD1E1;
   text-align: left;
   text-indent: 10px;
   font-family: Montserrat;
   color: #95A1BB;
   margin-bottom: 20px;

}

.nome /*mexe nas características da caixa nome*/
{
    width: 210px;
    height: 36px;
    top: 385px;
    left: 112px;
    border: 1px solid #CAD1E1;
    margin-right: 15px; 
    font-family: Montserrat;  /*o font-family e o color aqui é quando o usuário digita*/
    color: #95A1BB;

}


.email  /*mexe nas características da caixa nome*/
{
    width: 215px;
    height: 36px;
    top: 385px;
    left: 112px;
    border: 1px solid #CAD1E1;
    text-align: left;
    text-indent: 10px;
    font-family: Montserrat;  /*o font-family e o color aqui é quando o usuário digita*/
    color: #95A1BB;
    
}

.input-email
{
   left: 240px;
   position: relative;
   bottom: 40px;   
}

.mensagem
{
    width: 460px;
    height: 36px;
    top: 434px;
    left: 97px;
    font-family: Montserrat;  
    color: #95A1BB;
   
}















