section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 50px;
}

.title{
    font-size: 35px;
}

.img-card > img{
    width: 100%;
}

.img-card-small{
    height: 180px;
    width: 100%;
}

.img-card-small > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 70px 0 20px 0;
}

.box-right{
    display: flex;
    justify-content: end;
    width: 100%;
}

.arrows{
    display: flex;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    padding: 10px;
    border: 1px solid rgba(2, 2, 2, 0.425);
}

.circle:not(:last-child){
    margin-right: 15px;
}

.arrow-left{
    transform: rotate(180deg);
    border: 1px solid white;
}

.circle:hover{
    border: 1px solid black;
    transition: all 0.2s ease;
    cursor: pointer;
}

.circle > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-master{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    width: 100%;
}

.card{
    width: 315px;
}

.card-small{
    width: 240px;

}

.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.card-title{
    font-size: 20px;
}

.avaliacao{
    display: flex;
    align-items: center;
}

.descricao{
    margin: 10px 0px 20px 0px;
    font-size: 12px;
    text-align: justify;
    transition: all 0.5s ease-in;
}

.hidden{
    opacity: 0;
    height: 100px;
}

.show{
    opacity: 1;
}

.margin-small-start{
    margin-top: -110px;
}

.margin-small-end{
    margin-top: 0;
}

.rotate{
    transform: rotate(180deg);
}

.avaliacao > img{
    margin-right: 7px;
}

.card-title-small{
    display: flex;
    align-items: center;
    height: 60px;
}

.subtitle-small{
    font-size: 11px;
}

.card-detalhes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 25px;
}

.arrow-down{
    margin-left: 10px;
    transition: all 0.4s ease-in;
}

.small > p{
    font-size: 12px;
}

.card-title-small > h1{
    font-size: 20px;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in;
    position: relative;
}

.preco-destaque{
    font-weight: 500;
}

.preco-a-vista{
    font-size: 11px;
}

h2{
    font-weight: 400;
    font-size: 15px;
}

button{
    padding: 10px 20px;
    background-color: var(--laranja);
    color: white;
    border-radius: 20px;
    border-style: none;
    border: 2px solid var(--laranja);
    font-weight: 700;
}

button:hover{
    background-color: white;
    color: var(--laranja);
    transition: all 0.3s ease-in;
    cursor: pointer;
}