header{
    margin: 230px 50px 400px 50px;
}

.box-header{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.box-header > h1{
    font-size: 45px;
    margin-bottom: 20px;
}

.mani-cursos{
    margin: 0 5px;
    font-style: italic;
}

.subtitle{
    width: 450px;
    line-height: 2;
}

.link-explorar{
    width: 210px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid var(--laranja);
    display: flex;
    align-items: center;
}

.circle-explorar{
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-left: -7px;
}

.circle-explorar > img{
    position: relative;
    top: 21%;
    left: 20%;    
}

.text-explorar{
    font-size: 17px;
    text-transform: uppercase;
    left: 35px;
    position: relative;
}

.estudando{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*----------------------------------------------------- parte das bolas ----------------------------------------------*/
.circle-full{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.c1{
    top: -20px;
    left: 288px;
}

.c2{
    top: 166px;
    right: -20px;
}

.c3{
    top: 667px;
    left: 421px;
}
.c4{
    top: 198px;
    left: 116px;
}

.circle-full2{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.c-1{
    top: 100px;
    left: 40px;
}

.c-2{
    top: 415px;
    left: 646px;
}

.circle-empty{
    position: absolute;
    background-color: white;
    border: 8px solid black;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.c-1-1{
    top: 617px;
    left: -45px;
}

.circle-empty-1{
    position: absolute;
    background-color: white;
    border: 3px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.c-1-2{
    top: 139px;
    left: 621px;
}

.circle-dotted{
    position: absolute;
    background-color: white;
    border: 5px solid black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style: dotted;
    top: 611px;
    left: 763px;
}

.circle-full-70{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: 687px;
    right: -53px;
}